@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 90 !important;
}

.body-light {
  background: #f8fbfe;
}

.body-dark {
  background: #010509;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
